<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <a href="#" class="subnav-toggle">(Expand/collapse all)</a>
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/spotinst/index.html">Spotinst Provider</a>
                </li>
                <li>
                    <a href="#">Elastigroup</a>
                    <ul class="nav">
                      <li>
                        <a href="#">Resources</a>
                        <ul class="nav nav-auto-expand">
                          <li>
                            <a href="/docs/providers/spotinst/r/elastigroup_aws.html">spotinst_elastigroup_aws</a>
                          </li>
                          <li>
                            <a href="/docs/providers/spotinst/r/elastigroup_aws_beanstalk.html">spotinst_elastigroup_aws_beanstalk</a>
                          </li>
                          <li>
                            <a href="/docs/providers/spotinst/r/elastigroup_aws_suspension.html">spotinst_elastigroup_aws_suspension</a>
                          </li>
                          <li>
                            <a href="/docs/providers/spotinst/r/elastigroup_azure.html">spotinst_elastigroup_azure</a>
                          </li>
                          <li>
                            <a href="/docs/providers/spotinst/r/elastigroup_gcp.html">spotinst_elastigroup_gcp</a>
                          </li>
                          <li>
                            <a href="/docs/providers/spotinst/r/elastigroup_gke.html">spotinst_elastigroup_gke</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Ocean</a>
                    <ul class="nav">
                      <li>
                        <a href="#">Resources</a>
                        <ul class="nav nav-auto-expand">
                          <li>
                            <a href="/docs/providers/spotinst/r/ocean_aws.html">spotinst_ocean_aws</a>
                          </li>
                          <li>
                            <a href="/docs/providers/spotinst/r/ocean_aws_launch_spec.html">spotinst_ocean_aws_launch_spec</a>
                          </li>
                          <li>
                            <a href="/docs/providers/spotinst/r/ocean_gke_import.html">spotinst_ocean_gke_import</a>
                          </li>
                          <li>
                            <a href="/docs/providers/spotinst/r/ocean_gke_launch_spec.html">spotinst_ocean_gke_launch_spec</a>
                          </li>
                          <li>
                            <a href="/docs/providers/spotinst/r/ocean_gke_launch_spec_import.html">spotinst_ocean_gke_launch_spec_import</a>
                          </li>
                          <li>
                            <a href="/docs/providers/spotinst/r/ocean_ecs.html">spotinst_ocean_ecs</a>
                          </li>
                          <li>
                            <a href="/docs/providers/spotinst/r/ocean_ecs_launch_spec.html">spotinst_ocean_ecs_launch_spec</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Managed Instance</a>
                    <ul class="nav">
                      <li>
                        <a href="#">Resources</a>
                        <ul class="nav nav-auto-expand">
                          <li>
                            <a href="/docs/providers/spotinst/r/managed_instance_aws.html">spotinst_managed_instance_aws</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Mr Scaler</a>
                    <ul class="nav">
                      <li>
                        <a href="#">Resources</a>
                        <ul class="nav nav-auto-expand">
                          <li>
                            <a href="/docs/providers/spotinst/r/mrscaler_aws.html">spotinst_mrscaler_aws</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Subscription</a>
                    <ul class="nav">
                      <li>
                        <a href="#">Resources</a>
                        <ul class="nav nav-auto-expand">
                          <li>
                            <a href="/docs/providers/spotinst/r/subscription.html">spotinst_subscription</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                  <a href="#">Health Check</a>
                  <ul class="nav">
                   <li>
                      <a href="#">Resources</a>
                      <ul class="nav nav-auto-expand">
                         <li>
                            <a href="/docs/providers/spotinst/r/health_check.html">spotinst_health_check</a>
                         </li>
                      </ul>
                   </li>
                </ul>
               </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
